body {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  font-family: "Jost", sans-serif;
}

.container {
  width: 95%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  overflow: hidden;
}

.page-about {
  position: absolute;
}

nav {
  opacity: 1;
}

.navbarku {
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.7);
}

.btn-contact {
  padding-left: 50%;
}
.navbar-brand {
  padding-left: 70px;
  opacity: 1;
}

.navbar-toggler {
  margin-right: 30px;
  border: none;
}

#navbarNav {
  margin-left: 100px;
}

.offcanvas-body {
  opacity: 0.7;
}

.offcanvas-body ul li {
  padding-left: 70px;
}

.offcanvas-header {
  background-color: black;
}

.image-header img {
  opacity: 1;
}

.search {
  padding-right: 55px;
}

.test {
  background-color: rgba(0, 0, 0, 0.7);
}

.name {
  margin-left: 0px;
  height: 100%;
}

.name h1 {
  font-size: 40px;
}

.name p {
  font-size: 13px;
}

.name-about {
  margin-top: -5%;
}

.isi-about {
  margin-top: -15%;
}

.judul-about {
  margin-top: 10%;
}

/* .name-about {
  margin-top: -20%;
} */

/* .name-about h1 {
  font-size: 40px;
}

.name-about p {
  font-size: 13px;
} */

.judul-portfolio {
  position: absolute;
  margin-top: 2%;
}

.kartu {
  margin-bottom: 10%;
}

.card {
  border-radius: 20%;
}

.radius {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 0.7s;
}

.radius:hover {
  display: flex;
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.7);
  order: 11;
}

/* .img1 {
  background-image: url(../img/portfolio/1.jpg);
  background-size: cover;
}

.img2 {
  background-image: url(../img/portfolio/2.jpg);
  background-size: cover;
}

.img3 {
  background-image: url(../img/portfolio/3.jpg);
  background-size: cover;
} */

.about-text {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .container {
    overflow-y: scroll;
  }
  .kartu {
    margin-top: 15%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 496px) {
  .col-md-8 {
    margin-left: -17px;
    margin-top: -100px;
  }
  .col-md-8 p {
    font-size: 0.9em;
  }
  .col-md-8 h1 {
    font-size: 1.9em;
  }
  .col-md-3 img {
    width: -5%;
    height: 300px;
    margin-left: -30px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 396px) {
  .col-md-8 {
    margin-left: -17px;
    margin-top: -100px;
  }
  .col-md-8 p {
    font-size: 0.7em;
  }
  .col-md-8 h1 {
    font-size: 1.7em;
  }
  .col-md-3 img {
    width: -10%;
    height: 200px;
    margin-left: -30px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1525px) {
  .col-sm-8 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1399px) {
  .col-sm-8 {
    font-size: 0.7em;
  }
  .isi-about {
    margin-top: -25%;
  }
}

@media screen and (max-width: 1200px) {
  .col-sm-8 {
    font-size: 0.6em;
  }
  .isi-about {
    margin-top: -35%;
  }
}

@media screen and (max-width: 992px) {
  .col-sm-8 {
    font-size: 0.65em;
  }
  .col-sm-8 h1 {
    font-size: 3em;
  }
  .isi-about {
    margin-top: -43%;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-8 {
    font-size: 0.6em;
  }
  .col-sm-8 h1 {
    font-size: 2.1em;
  }
  .isi-about {
    margin-top: -50%;
  }
}

@media screen and (max-width: 576px) {
  .col-sm-8 {
    font-size: 0.6em;
  }
  .col-sm-8 h1 {
    font-size: 2.1em;
  }
  .isi-about {
    margin-top: -75%;
  }
}

@media screen and (max-width: 368px) {
  .col-sm-8 {
    font-size: 0.55em;
  }
  .col-sm-8 h1 {
    font-size: 2em;
  }
  .isi-about {
    margin-top: -75%;
  }
  .judul-about h1 {
    font-size: 1.6em;
    margin-top: 30px;
  }
}
